.hidden {
  display: none;
}

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#clock {
  font-size: 75px;
  color: white;
}

#greeting {
  font-size: 35px;
  margin: 20px 0px 40px 0px;
  color: white;
}

#todo-form input {
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  font-size: 25px;
  margin-bottom: 10px;
  width: 400px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

#todo-form input ::placeholder {
  color: white;
}

#todo-list li {
  color: white;
  font-size: 20px;
  padding: 3px;
  list-style: none;
}

button {
  margin-left: 20px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

button:hover {
  cursor: pointer;
}

#quote {
  position: absolute;
  bottom: 20px;
}

#weather {
  position: absolute;
  top: 20px;
  right: 40px;
}

#weather span {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 20px;
}

img {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -99;
}
